/* Trainer Page */
#page-mod-corolairtutor-view #topofscroll {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

#page-mod-corolairtutor-view #corolair-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

#page-mod-corolairtutor-view #page {
  overflow: hidden !important;
  height: 100vh !important;
  box-sizing: border-box !important;
  width: 100vw !important;
  padding: 0 !important;
}

#page-mod-corolairtutor-view #page-content {
  padding: 0 !important;
  padding: 0 !important;
  height: 100%;
}

#page-mod-corolairtutor-view #region-main-box {
  height: 100%;
}

#page-mod-corolairtutor-view #region-main {
  height: 100%;
}

#page-mod-corolairtutor-view div[role="main"] {
  height: 100%;
  padding: 0 !important;
}

#page-mod-corolairtutor-view #page-header {
  display: none;
}
